.idea/
.cadence
data/old/
data/stopwords/
.DS_Store
venv/
*.pyc
__pycache__/
.vercel
application/api/.env*
credentials.json
ploomber-cloud.json
deploy.sh
credentials.json
supervisord.log
solara-docker